//! **************************************************************************
// Written by: Map P.20131013 on Fri Dec 15 13:58:17 2023
//! **************************************************************************

SCHEMATIC START;
COMP "led2" LOCATE = SITE "R11" LEVEL 1;
COMP "led3" LOCATE = SITE "N11" LEVEL 1;
COMP "led4" LOCATE = SITE "M11" LEVEL 1;
COMP "led5" LOCATE = SITE "V15" LEVEL 1;
COMP "led6" LOCATE = SITE "U15" LEVEL 1;
COMP "led7" LOCATE = SITE "V16" LEVEL 1;
COMP "led8" LOCATE = SITE "U16" LEVEL 1;
COMP "led1" LOCATE = SITE "T11" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "seven_seg<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "seven_seg<1>" LOCATE = SITE "N14" LEVEL 1;
COMP "seven_seg<2>" LOCATE = SITE "M14" LEVEL 1;
COMP "seven_seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "seven_seg<4>" LOCATE = SITE "U17" LEVEL 1;
COMP "seven_seg<5>" LOCATE = SITE "T18" LEVEL 1;
COMP "seven_seg<6>" LOCATE = SITE "T17" LEVEL 1;
COMP "button" LOCATE = SITE "B8" LEVEL 1;
COMP "reset" LOCATE = SITE "C9" LEVEL 1;
SCHEMATIC END;

